*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
mediaProjection/build/generated/assets/
mediaProjection/build/generated/res/
mediaProjection/build/generated/source/aidl/
mediaProjection/build/generated/source/r/androidTest/
mediaProjection/build/generated/source/rs/
mediaProjection/build/intermediates/assets/
mediaProjection/build/intermediates/blame/res/androidTest/
mediaProjection/build/intermediates/bundles/
mediaProjection/build/intermediates/dependency-cache/
mediaProjection/build/intermediates/exploded-aar/com.android.support/appcompat-v7/22.2.0/aidl/
mediaProjection/build/intermediates/exploded-aar/com.android.support/appcompat-v7/22.2.0/assets/
mediaProjection/build/intermediates/exploded-aar/com.android.support/support-v4/22.2.0/assets/
mediaProjection/build/intermediates/exploded-aar/com.android.support/support-v4/22.2.0/libs/
mediaProjection/build/intermediates/exploded-aar/com.android.support/support-v4/22.2.0/res/
mediaProjection/build/intermediates/jniLibs/
mediaProjection/build/intermediates/manifest/tmp/
mediaProjection/build/intermediates/res/merged/androidTest/
mediaProjection/build/intermediates/rs/
mediaProjection/build/intermediates/shaders/
mediaProjection/build/intermediates/symbols/androidTest/
mediaProjection/build/intermediates/transforms/mergeJavaRes/
mediaProjection/build/intermediates/transforms/mergeJniLibs/
mediaProjection/build/tmp/
